mobile()
  @media (max-width: 780px)
    {block}

mobile-landscape()
  @media (max-width: 780px) and (orientation: landscape)
    {block}

tablet()
  @media (min-width: 781px) and (max-width: 1280px)
    {block}
