mobile()
  @media (max-width: 780px)
    {block}

mobile-landscape()
  @media (max-width: 780px) and (orientation: landscape)
    {block}

tablet()
  @media (min-width: 781px) and (max-width: 1280px)
    {block}

page-section()
  display: flex;
  position: relative;
  margin-top: 6em;
  +mobile()
    padding: 1.5em;

  &.reverse
    flex-direction: row-reverse;

  &-text
    max-width: 35em;
    &.xl
      max-width: 40em;

  &-title
    font-family: 'Roboto Condensed';
    font-size: 3.8em;
    line-height: 1;
    margin-bottom: .5em;
    +tablet()
      font-size: 3em;
    +mobile()
      font-size: 2.2em;

  &-image
    z-index: -1;
