$app-max-width = 80em;

$app-yellow = #ffd740;

$dark-text-primary = rgba(0, 0, 0, .9);
$dark-text-secondary = rgba(0, 0, 0, .6);

$paper-red-50 = #FFEBEE;
$paper-red-100 = #FFCDD2;
$paper-red-200 = #EF9A9A;
$paper-red-300 = #E57373;
$paper-red-400 = #EF5350;
$paper-red-500 = #F44336;
$paper-red-600 = #E53935;
$paper-red-700 = #D32F2F;
$paper-red-800 = #C62828;
$paper-red-900 = #B71C1C;
$paper-red-A100 = #FF8A80;
$paper-red-A200 = #FF5252;
$paper-red-A400 = #FF1744;
$paper-red-A700 = #D50000;

$paper-pink-50 = #FCE4EC;
$paper-pink-100 = #F8BBD0;
$paper-pink-200 = #F48FB1;
$paper-pink-300 = #F06292;
$paper-pink-400 = #EC407A;
$paper-pink-500 = #E91E63;
$paper-pink-600 = #D81B60;
$paper-pink-700 = #C2185B;
$paper-pink-800 = #AD1457;
$paper-pink-900 = #880E4F;
$paper-pink-A100 = #FF80AB;
$paper-pink-A200 = #FF4081;
$paper-pink-A400 = #F50057;
$paper-pink-A700 = #C51162;

$paper-purple-50 = #F3E5F5;
$paper-purple-100 = #E1BEE7;
$paper-purple-200 = #CE93D8;
$paper-purple-300 = #BA68C8;
$paper-purple-400 = #AB47BC;
$paper-purple-500 = #9C27B0;
$paper-purple-600 = #8E24AA;
$paper-purple-700 = #7B1FA2;
$paper-purple-800 = #6A1B9A;
$paper-purple-900 = #4A148C;
$paper-purple-A100 = #EA80FC;
$paper-purple-A200 = #E040FB;
$paper-purple-A400 = #D500F9;
$paper-purple-A700 = #AA00FF;

$paper-deep-purple-50 = #EDE7F6;
$paper-deep-purple-100 = #D1C4E9;
$paper-deep-purple-200 = #B39DDB;
$paper-deep-purple-300 = #9575CD;
$paper-deep-purple-400 = #7E57C2;
$paper-deep-purple-500 = #673AB7;
$paper-deep-purple-600 = #5E35B1;
$paper-deep-purple-700 = #512DA8;
$paper-deep-purple-800 = #4527A0;
$paper-deep-purple-900 = #311B92;
$paper-deep-purple-A100 = #B388FF;
$paper-deep-purple-A200 = #7C4DFF;
$paper-deep-purple-A400 = #651FFF;
$paper-deep-purple-A700 = #6200EA;

$paper-indigo-50 = #E8EAF6;
$paper-indigo-100 = #C5CAE9;
$paper-indigo-200 = #9FA8DA;
$paper-indigo-300 = #7986CB;
$paper-indigo-400 = #5C6BC0;
$paper-indigo-500 = #3F51B5;
$paper-indigo-600 = #3949AB;
$paper-indigo-700 = #303F9F;
$paper-indigo-800 = #283593;
$paper-indigo-900 = #1A237E;
$paper-indigo-A100 = #8C9EFF;
$paper-indigo-A200 = #536DFE;
$paper-indigo-A400 = #3D5AFE;
$paper-indigo-A700 = #304FFE;

$paper-blue-50 = #E3F2FD;
$paper-blue-100 = #BBDEFB;
$paper-blue-200 = #90CAF9;
$paper-blue-300 = #64B5F6;
$paper-blue-400 = #42A5F5;
$paper-blue-500 = #2196F3;
$paper-blue-600 = #1E88E5;
$paper-blue-700 = #1976D2;
$paper-blue-800 = #1565C0;
$paper-blue-900 = #0D47A1;
$paper-blue-A100 = #82B1FF;
$paper-blue-A200 = #448AFF;
$paper-blue-A400 = #2979FF;
$paper-blue-A700 = #2962FF;

$paper-light-blue-50 = #E1F5FE;
$paper-light-blue-100 = #B3E5FC;
$paper-light-blue-200 = #81D4FA;
$paper-light-blue-300 = #4FC3F7;
$paper-light-blue-400 = #29B6F6;
$paper-light-blue-500 = #03A9F4;
$paper-light-blue-600 = #039BE5;
$paper-light-blue-700 = #0288D1;
$paper-light-blue-800 = #0277BD;
$paper-light-blue-900 = #01579B;
$paper-light-blue-A100 = #80D8FF;
$paper-light-blue-A200 = #40C4FF;
$paper-light-blue-A400 = #00B0FF;
$paper-light-blue-A700 = #0091EA;

$paper-cyan-50 = #E0F7FA;
$paper-cyan-100 = #B2EBF2;
$paper-cyan-200 = #80DEEA;
$paper-cyan-300 = #4DD0E1;
$paper-cyan-400 = #26C6DA;
$paper-cyan-500 = #00BCD4;
$paper-cyan-600 = #00ACC1;
$paper-cyan-700 = #0097A7;
$paper-cyan-800 = #00838F;
$paper-cyan-900 = #006064;
$paper-cyan-A100 = #84FFFF;
$paper-cyan-A200 = #18FFFF;
$paper-cyan-A400 = #00E5FF;
$paper-cyan-A700 = #00B8D4;

$paper-teal-50 = #E0F2F1;
$paper-teal-100 = #B2DFDB;
$paper-teal-200 = #80CBC4;
$paper-teal-300 = #4DB6AC;
$paper-teal-400 = #26A69A;
$paper-teal-500 = #009688;
$paper-teal-600 = #00897B;
$paper-teal-700 = #00796B;
$paper-teal-800 = #00695C;
$paper-teal-900 = #004D40;
$paper-teal-A100 = #A7FFEB;
$paper-teal-A200 = #64FFDA;
$paper-teal-A400 = #1DE9B6;
$paper-teal-A700 = #00BFA5;

$paper-green-50 = #E8F5E9;
$paper-green-100 = #C8E6C9;
$paper-green-200 = #A5D6A7;
$paper-green-300 = #81C784;
$paper-green-400 = #66BB6A;
$paper-green-500 = #4CAF50;
$paper-green-600 = #43A047;
$paper-green-700 = #388E3C;
$paper-green-800 = #2E7D32;
$paper-green-900 = #1B5E20;
$paper-green-A100 = #B9F6CA;
$paper-green-A200 = #69F0AE;
$paper-green-A400 = #00E676;
$paper-green-A700 = #00C853;

$paper-light-green-50 = #F1F8E9;
$paper-light-green-100 = #DCEDC8;
$paper-light-green-200 = #C5E1A5;
$paper-light-green-300 = #AED581;
$paper-light-green-400 = #9CCC65;
$paper-light-green-500 = #8BC34A;
$paper-light-green-600 = #7CB342;
$paper-light-green-700 = #689F38;
$paper-light-green-800 = #558B2F;
$paper-light-green-900 = #33691E;
$paper-light-green-A100 = #CCFF90;
$paper-light-green-A200 = #B2FF59;
$paper-light-green-A400 = #76FF03;
$paper-light-green-A700 = #64DD17;

$paper-lime-50 = #F9FBE7;
$paper-lime-100 = #F0F4C3;
$paper-lime-200 = #E6EE9C;
$paper-lime-300 = #DCE775;
$paper-lime-400 = #D4E157;
$paper-lime-500 = #CDDC39;
$paper-lime-600 = #C0CA33;
$paper-lime-700 = #AFB42B;
$paper-lime-800 = #9E9D24;
$paper-lime-900 = #827717;
$paper-lime-A100 = #F4FF81;
$paper-lime-A200 = #EEFF41;
$paper-lime-A400 = #C6FF00;
$paper-lime-A700 = #AEEA00;

$paper-yellow-50 = #FFFDE7;
$paper-yellow-100 = #FFF9C4;
$paper-yellow-200 = #FFF59D;
$paper-yellow-300 = #FFF176;
$paper-yellow-400 = #FFEE58;
$paper-yellow-500 = #FFEB3B;
$paper-yellow-600 = #FDD835;
$paper-yellow-700 = #FBC02D;
$paper-yellow-800 = #F9A825;
$paper-yellow-900 = #F57F17;
$paper-yellow-A100 = #FFFF8D;
$paper-yellow-A200 = #FFFF00;
$paper-yellow-A400 = #FFEA00;
$paper-yellow-A700 = #FFD600;

$paper-amber-50 = #FFF8E1;
$paper-amber-100 = #FFECB3;
$paper-amber-200 = #FFE082;
$paper-amber-300 = #FFD54F;
$paper-amber-400 = #FFCA28;
$paper-amber-500 = #FFC107;
$paper-amber-600 = #FFB300;
$paper-amber-700 = #FFA000;
$paper-amber-800 = #FF8F00;
$paper-amber-900 = #FF6F00;
$paper-amber-A100 = #FFE57F;
$paper-amber-A200 = #FFD740;
$paper-amber-A400 = #FFC400;
$paper-amber-A700 = #FFAB00;

$paper-orange-50 = #FFF3E0;
$paper-orange-100 = #FFE0B2;
$paper-orange-200 = #FFCC80;
$paper-orange-300 = #FFB74D;
$paper-orange-400 = #FFA726;
$paper-orange-500 = #FF9800;
$paper-orange-600 = #FB8C00;
$paper-orange-700 = #F57C00;
$paper-orange-800 = #EF6C00;
$paper-orange-900 = #E65100;
$paper-orange-A100 = #FFD180;
$paper-orange-A200 = #FFAB40;
$paper-orange-A400 = #FF9100;
$paper-orange-A700 = #FF6D00;

$paper-deep-orange50 = #FBE9E7;
$paper-deep-orange100 = #FFCCBC;
$paper-deep-orange200 = #FFAB91;
$paper-deep-orange300 = #FF8A65;
$paper-deep-orange400 = #FF7043;
$paper-deep-orange500 = #FF5722;
$paper-deep-orange600 = #F4511E;
$paper-deep-orange700 = #E64A19;
$paper-deep-orange800 = #D84315;
$paper-deep-orange900 = #BF360C;
$paper-deep-orangeA100 = #FF9E80;
$paper-deep-orangeA200 = #FF6E40;
$paper-deep-orangeA400 = #FF3D00;
$paper-deep-orangeA700 = #DD2C00;

$paper-brown-50 = #EFEBE9;
$paper-brown-100 = #D7CCC8;
$paper-brown-200 = #BCAAA4;
$paper-brown-300 = #A1887F;
$paper-brown-400 = #8D6E63;
$paper-brown-500 = #795548;
$paper-brown-600 = #6D4C41;
$paper-brown-700 = #5D4037;
$paper-brown-800 = #4E342E;
$paper-brown-900 = #3E2723;

$paper-grey-50 = #FAFAFA;
$paper-grey-100 = #F5F5F5;
$paper-grey-200 = #EEEEEE;
$paper-grey-300 = #E0E0E0;
$paper-grey-400 = #BDBDBD;
$paper-grey-500 = #9E9E9E;
$paper-grey-600 = #757575;
$paper-grey-700 = #616161;
$paper-grey-800 = #424242;
$paper-grey-900 = #212121;

$paper-blue-grey-50 = #ECEFF1;
$paper-blue-grey-100 = #CFD8DC;
$paper-blue-grey-200 = #B0BEC5;
$paper-blue-grey-300 = #90A4AE;
$paper-blue-grey-400 = #78909C;
$paper-blue-grey-500 = #607D8B;
$paper-blue-grey-600 = #546E7A;
$paper-blue-grey-700 = #455A64;
$paper-blue-grey-800 = #37474F;
$paper-blue-grey-900 = #263238;
